<div class="container">
  <CAPTION><EM><h1>
  <%= @post.title %>
    </h1></EM></CAPTION>


  <p>
    <h4>
    <%= @post.body %>
    </h4>
  </p>

  </br>
  </br>
  <hr>

  <p>
  <h6>Email Me: <%= @post.email %> <h6>
  <h6>Call Me: <%= @post.phone %> <h6>
  <h6>Created At: <%= @post.created_at %> <h6>
  </p>
</div>


